html,
body,
#app,
#app > div {
  height: 100%;
}
.Login {
  padding: 100px 0;
}
.Login-view {
  /* padding: -100px;
  border: 2px solid black;
  margin: 0; */
}
.Login-button {
  background-color: rgb(187, 48, 48);
}

.Hacettepe-text {
  text-align: center;
  color: rgb(187, 48, 48);
  font-size: 1cm;
  padding-top: 150px;
}

.Login form {
  margin: 0 auto;
  max-width: 320px;
}

.Register {
  padding: 200px 0;
}
.Register form {
  margin: 0 auto;
  max-width: 320px;
}

.register-query {
  text-align: left;
  padding-top: 5px;
}
