.welcome-text-card {
  position: relative;
  margin-top: 20px;
  margin-left: -10px;
  width: 1120px;
}

.welcome-text {
  padding-top: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.8cm;
}

.student-info-card {
  position: relative;
  margin-top: 20px;
  margin-left: -10px;
  width: 550px;
}

.student-info-title {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.5pc;
  color: rgb(146, 33, 33);
}

.student-info {
  align-items: center;
}

.student-term-card {
  display: inline-block;
  width: 200px;
  height: 100px;
}

.student-term-title {
  color: rgb(77, 57, 57);
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
}

.student-term {
  text-align: center;
  color: rgb(46, 95, 173);
  font-weight: bold;
}

.student-creditType-card {
  display: inline-block;
  width: 200px;
  height: 100px;
  margin-left: 105px;
}

.student-creditType-title {
  color: rgb(77, 57, 57);
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
}

.student-creditType {
  text-align: center;
  color: rgb(46, 95, 173);
  font-weight: bold;
}

.student-major-card {
  display: inline-block;
  width: 505px;
  height: 470px;
  margin-top: 10px;
}

.student-major-title {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.4pc;
  color: rgb(146, 33, 33);
}

.student-major {
  align-content: center;
}

.student-faculty-card {
  display: contents;
  width: 200px;
  height: 100px;
}

.student-faculty-title {
  color: rgb(77, 57, 57);
  font-weight: bold;
  text-align: center;
}

.student-faculty {
  text-align: center;
  color: rgb(46, 95, 173);
  font-weight: bold;
}

.student-program-card {
  display: contents;
  width: 200px;
  height: 150px;
}

.student-program {
  text-align: center;
  color: rgb(46, 95, 173);
  font-weight: bold;
}

.student-program-title {
  color: rgb(77, 57, 57);
  font-weight: bold;
  text-align: center;
}

.student-grade-card {
  display: contents;
  width: 200px;
  height: 100px;
}

.student-grade-title {
  color: rgb(77, 57, 57);
  font-weight: bold;
  text-align: center;
}

.student-grade {
  text-align: center;
  color: rgb(46, 95, 173);
  font-weight: bold;
}

.student-advisor-card {
  display: contents;
  width: 200px;
  height: 100px;
}

.student-advisor-title {
  color: rgb(77, 57, 57);
  font-weight: bold;
  text-align: center;
}

.student-advisor {
  text-align: center;
  color: rgb(46, 95, 173);
  font-weight: bold;
}

.homepage {
  width: 400px;
  height: 400px;
  margin: 50px auto;
}

.student-announcement-card {
  position: relative;
  margin-top: 20px;
  margin-left: -10px;
  width: 550px;
  height: 360px;
}

.student-announcement-title {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.5pc;
  color: rgb(146, 33, 33);
}

.student-announcement {
  align-items: center;
}

.student-announcement-element-card {
  display: block;
}

.student-announcement-element {
  color: rgba(207, 124, 51, 0.932);
  font-weight: bold;
}

.student-announcement-element-date {
  color: rgb(138, 52, 49);
}

.scroll-bar-card {
  width: 490px;
  height: 300px;
}

.course-registration-main-informations-card {
  position: relative;
  margin-top: 20px;
  margin-left: -10px;
  width: 550px;
  height: 292px;
}

.course-registration-main-informations-title {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.5pc;
  color: rgb(146, 33, 33);
}

.course-registration-main-informations {
  align-items: center;
}

.course-registration-status-card {
  display: contents;
}

.course-registration-status-title {
  color: rgb(77, 57, 57);
  font-weight: bold;
  text-align: center;
}

.course-registration-status {
  text-align: center;
  color: rgb(46, 95, 173);
  font-weight: bold;
}

.course-registration-date-card {
  display: contents;
}

.course-registration-date-title {
  color: rgb(77, 57, 57);
  font-weight: bold;
  text-align: center;
}

.course-registration-date {
  text-align: center;
  color: rgb(46, 95, 173);
  font-weight: bold;
}

.course-registration-disabled-card {
  position: relative;
  margin-top: 50px;
  margin-left: -40px;
  width: 800px;
}

.course-registration-disabled-title-text {
  padding-top: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.7cm;
  color: red;
}

.course-registration-disabled-text {
  padding-top: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.52cm;
}

mark.red {
  color: rgb(138, 57, 57);
  background: none;
  font-weight: bold;
}
