/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 16px;
  top: 76px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: rgb(124, 67, 67);
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #000000;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: rgb(128, 76, 76);
  padding: 2em 1em 0;
  font-size: 1.17em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #b93e3e;
}

/* Wrapper for item list */
.bm-item-list {
  color: #c02929;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  padding: 0.3em;
  text-decoration: none;
  margin-bottom: 10px;
  color: #e9e1e1;
  transition: color 0.15s;
}

.bm-item:hover {
  color: rgb(0, 0, 0);
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.sidebar {
  top: 0; /* Stay at the top */
  padding-top: 66px;
}
