.Account {
  padding: 0 10;
}
.Account form {
  padding-top: 40px;
  padding-left: 40px;
  margin: 0 auto;
  max-width: 400px;
}

.change-email-accordion {
  padding-top: 70px;
  padding-left: 108px;
  width: 470px;
}

.change-email-accordion-header {
  color: rgb(46, 95, 173);
  font-weight: bold;
}

.change-email-form {
  width: 300px;
  padding-top: 10px;
  padding-left: 15px;
}

.email-update-button-container {
  padding-left: 15px;
  padding-bottom: 10px;
}

.email-update-button {
  background-color: rgb(56, 115, 209);
}

.change-password-accordion {
  padding-top: 50px;
  padding-left: 108px;
  width: 470px;
}

.change-password-accordion-header {
  color: rgb(46, 95, 173);
  font-weight: bold;
}

.change-password-form {
  width: 300px;
  padding-top: 10px;
  padding-left: 15px;
}

.password-update-button-container {
  padding-left: 15px;
  padding-bottom: 10px;
}

.password-update-button {
  background-color: rgb(56, 115, 209);
}

.password-update-success-text {
  color: green;
  padding-left: 14px;
  padding-bottom: 4px;
}

.password-match-error-text {
  color: red;
  margin-top: -8px;
  padding-left: 14px;
  padding-bottom: 8px;
}

.password-wrong-error-text {
  color: red;
  margin-top: -8px;
  padding-left: 14px;
}

.password-length-error-text {
  color: red;
  margin-top: -8px;
  padding-left: 14px;
}

.email-notvalid-error-text {
  color: red;
  margin-top: -8px;
  padding-left: 14px;
  padding-bottom: 5px;
}

.email-update-success-text {
  color: green;
  padding-left: 14px;
  padding-bottom: 4px;
}

.course-registration-status-positive {
  color: #009900;
  font-weight: bold;
  text-align: left;
}

.course-registration-status-negative {
  color: red;
  font-weight: bold;
  text-align: left;
}
