.course-accordion {
  width: 1800px;
  padding-left: 350px;
  padding-top: 30px;
}

.course-accordion-item-header {
  color: rgb(46, 95, 173);
  font-weight: bold;
}

.must-course-card {
  height: 300px;
}

.must-course-accordion {
  width: 1800px;
  padding-left: 350px;
  padding-top: 30px;
}

.must-course-accordion-item-header {
  color: rgb(46, 95, 173);
  font-weight: bold;
}

.addCourseButton {
  width: 40px;
  height: 40px;
  font-weight: bold;
  border-radius: 100%;
}

.removeCourseButton {
  margin-left: 5px;
  width: 40px;
  height: 40px;
  font-weight: bold;
  border-radius: 100%;
}

.terms-tabs-container {
  height: 30px;
  padding-left: 10px;
  padding-bottom: 55px;
}

.confirm-course-card {
  display: contents;
  position: relative;
  align-items: center;
  margin-top: 20px;
  margin-left: 200px;
  width: 750px;
  height: 292px;
}

.confirm-course-registration {
  width: 160px;
  height: 50px;
  margin-left: 950px;
  margin-top: 50px;
  background-color: rgb(66, 104, 167);
}

.remaining-akts {
  text-align: right;
  margin-right: 15px;
  margin-top: 5px;
  margin-bottom: -10px;
  font-size: 0.5cm;
  color: black;
  font-weight: bold;
}

.course-modal-panel {
  margin: auto;
}

.term-courses {
  margin: auto;
  width: 1200px;
}

.transcript-text {
  font-weight: bold;
  margin-bottom: 30px;
  margin-left: 385px;
  font-size: 27px;
  color: rgb(49, 83, 139);
}

.term-name {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  color: rgb(49, 83, 139);
}

hr.new1 {
  margin-top: 10px;
  border-top: 3px solid rgb(104, 46, 46);
  opacity: 0.2;
  width: 1200px;
}

.term-courses-container {
  margin-left: 80px;
  margin-top: 55px;
}

.added-courses-table-container {
  margin: auto;
  width: 800px;
}

.added-courses-table-container-parent {
  margin-top: 50px;
  margin-left: -300px;
}

.added-courses-text {
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 25px;
  color: rgb(49, 83, 139);
}
