.Message {
  padding: 0 10;
}
.Message form {
  padding-top: 30px;
  padding-left: 0px;
  margin: 0 auto;
  width: 700px;
}

.topic-content-form {
  width: 578px;
}

.message-content-form {
  width: 580px;
  height: 500px;
}

.send-message-button {
  background-color: rgb(46, 95, 173);
}

.button-container {
  padding-left: 573px;
}

.rcw-conversation-container > .rcw-header {
  background-color: rgb(46, 95, 173);
}

.rcw-message > .rcw-response {
  background-color: rgb(103, 107, 107);
  color: white;
}

.rcw-launcher {
  background-color: rgb(46, 95, 173);
}

.rcw-client {
  background-color: #dcf8c6;
}
