.search {
  margin: 0 auto;
}

.search-bar {
  margin: 15px 5px;
  padding-right: 310px;
  border-radius: 5px;
}
.search-button {
  border-radius: 5px;
}

.navbar {
  display: flex;
  align-items: center;
}

.right-container {
  display: flex;
  align-items: center;
}

.qty-update-button {
  margin-left: -5px;
  margin-top: 15px;
  background-color: rgb(57, 112, 214);
}

.cart {
  padding: 0px 2px;
  width: 40px;
  background-color: rgb(223, 193, 193);
  border-radius: 25%;
}

.cart-brand {
  margin-left: -120px;
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.cart-info {
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.cart-img {
  position: relative;
  width: 100px;
  height: 100px;
  text-align: center;
  margin-right: 10px;
}

.cart-price {
  margin-top: 5px;
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.cart-remove-button {
  position: relative;
  margin-top: 45px;
  margin-left: 40%;
  color: rgb(51, 47, 102);
}

.qty-button {
  width: 65px;
}

.cart-checkout {
  margin-top: 25px;
  margin-left: 100px;
  margin-right: -35px;
}

.navbar-color {
  position: sticky;
  background-color: rgb(104, 46, 46);
}

.homepage-brand {
  color: rgb(195, 190, 190);
}

.deer-img {
  width: 40px;
  height: 40px;
  background-color: rgb(206, 160, 160);
  border-radius: 20%;
}

.navbar-main {
  position: fixed;
  z-index: 9999;
  width: 100%;
}
